<!DOCTYPE html>
<html lang="en">
  <%- include ../header %>
  <body>
    <%- include ../menu %>

    <form id="updateForm">
      <!-- input -->
      <div class="md-form">
        <input type="text" id="title" class="form-control" value="<%= result.title %>" required />
        <label for="inputLGEx">TITLE</label>
      </div>

      <div class="md-form">
        <input type="text" id="director" class="form-control" value="<%= result.director %>" required />
        <label for="inputLGEx">DIRECTOR</label>
      </div>

      <div class="md-form">
        <input type="text" id="year" class="form-control" value="<%= result.year %>" required />
        <label for="inputLGEx">YEAR</label>
      </div>

      <button type="submit" onclick="location.href='/api/movie'" class="btn btn-blue btn-md">
        저장
      </button>
    </form>
    <%- include ../footer %>

    <script>
      $(function () {
        $("#updateForm").submit((event) => {
          event.preventDefault();
          //* 수정
          const title = $("#title").val();
          const director = $("#director").val();
          const year = $("#year").val();

          console.log(title);

          $.ajax({
            url: "/api/movie/<%= result._id %>",
            type: "PUT",
            data: { title, director, year },
          })
            .done(() => {
              location.href = "/api/movie/<%= result._id %>";
              console.log("정상");
            })
            .fail((request, status, error) => {
              alert(request.responseText);
            });
        });
      });
    </script>
  </body>
</html>
